* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: #fff;
}

img {
  width: 100%;
}
