$font-stack: "Poppins", sans-serif;
$color-gray: hsl(0, 0%, 75%);
$color-GrayisViolet: hsl(257, 7%, 63%);
$color-Very-DarkBlue: hsl(255, 11%, 22%);
$color-Very-DarkViolet: hsl(260, 8%, 14%);
$color-Secondary-red: hsl(0, 87%, 67%);
$color-Primary-cyan: hsl(180, 66%, 49%);
$color-Primary-darkViolet: hsl(257, 27%, 26%);
